name: Post

on:
  schedule:
    - cron: '0 */1 * * *'

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - shell: bash
      env:
        BPH_PASSWORD: ${{ secrets.BPH_PASSWORD }}
      run: npm ci
      run: npm run post "$BPH_PASSWORD"